<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gestion des horaires & jours</h1>
            </div>
        </div>
    </div>
</div>

<div class="menu-box">
    <div class="container">

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jour</th>
                    <th scope="col">Ouverture matin</th>
                    <th scope="col">Fermeture matin</th>
                    <th scope="col">Ouverture soir</th>
                    <th scope="col">Fermeture soir</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of (horaires$|async)">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.jour }}</td>
                    <td>{{ item.ouverture_matin }}</td>
                    <td>{{ item.fermeture_matin }}</td>
                    <td>{{ item.ouverture_soir }}</td>
                    <td>{{ item.fermeture_soir }}</td>
                    
                    <td>
                        <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x" aria-hidden="true" (click)="deleteHoraire(item.id)"></i>
                    </td>
                </tr>
               
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <form [formGroup]="formGestionHoraireJour" (ngSubmit)="createOrUpdateHoraire()">
                <div class="form-group">
                    <label>Jour</label>
                    <select formControlName="jour" class="form-control">
                        <option value="">Selectionnez le jour</option>
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ouverture Matin</label>
                    <select formControlName="ouverture_matin" class="form-control">
                        <option value="">Selectionnez votre horaire</option>
                        <option>12h00</option>
                        <option>12h30</option>
                        <option>13h00</option>
                        <option>13h30</option>
                        <option>14h00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fermeture Matin</label>
                    <select formControlName="fermeture_matin" class="form-control">
                        <option value="">Selectionnez votre horaire</option>
                        <option>12h00</option>
                        <option>12h30</option>
                        <option>13h00</option>
                        <option>13h30</option>
                        <option>14h00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ouverture Soir</label>
                    <select formControlName="ouverture_soir" class="form-control">
                        <option value="">Selectionnez votre horaire</option>
                        <option>19h00</option>
                        <option>19h30</option>
                        <option>20h00</option>
                        <option>20h30</option>
                        <option>21h00</option>
                        <option>21h30</option>
                        <option>22h00</option>
                        <option>22h30</option>
                        <option>23h00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fermeture Soir</label>
                    <select formControlName="fermeture_soir" class="form-control">
                        <option value="">Selectionnez votre horaire</option>
                        <option>19h00</option>
                        <option>19h30</option>
                        <option>20h00</option>
                        <option>20h30</option>
                        <option>21h00</option>
                        <option>21h30</option>
                        <option>22h00</option>
                        <option>22h30</option>
                        <option>23h00</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-reserver">Envoyer</button>
            </form>
        </div>


    </div>
</div>
