<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gestion des horaires & jours</h1>
            </div>
        </div>
    </div>
</div>

<div class="menu-box">
    <div class="container">

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ouverture</th>
                    <th scope="col">Fermeture</th>
                    <th scope="col">Moment</th>
                    <th scope="col">Jour</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                        <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                    </td>
                </tr>
               
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <form [formGroup]="formGestionHoraireJour" (ngSubmit)="createOrUpdateHoraire()">
                <div class="form-group">
                    <label>Jour</label>
                    <select formControlName="jour" class="form-control">
                        <option>Selectionnez le jour</option>
                        <option>Lundi</option>
                        <option>Mardi</option>
                        <option>Mercredi</option>
                        <option>Jeudi</option>
                        <option>Vendredi</option>
                        <option>Samedi</option>
                        <option>Dimanche</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Moment</label>
                    <select formControlName="moment" class="form-control">
                        <option>Selectionnez le moment</option>
                        <option>Midi</option>
                        <option>Soir</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Ouverture</label>
                    <select formControlName="ouverture" class="form-control">
                        <option>Selectionnez votre horaire</option>
                        <option>12h00</option>
                        <option>12h15</option>
                        <option>12h30</option>
                        <option>12h45</option>
                        <option>13h00</option>
                        <option>19h00</option>
                        <option>19h15</option>
                        <option>19h30</option>
                        <option>19h45</option>
                        <option>20h00</option>
                        <option>20h15</option>
                        <option>20h30</option>
                        <option>20h45</option>
                        <option>21h00</option>
                        <option>21h15</option>
                        <option>21h30</option>
                        <option>21h45</option>
                        <option>22h00</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Fermeture</label>
                    <select formControlName="fermeture" class="form-control">
                        <option>Selectionnez votre horaire</option>
                        <option>12h00</option>
                        <option>12h15</option>
                        <option>12h30</option>
                        <option>12h45</option>
                        <option>13h00</option>
                        <option>19h00</option>
                        <option>19h15</option>
                        <option>19h30</option>
                        <option>19h45</option>
                        <option>20h00</option>
                        <option>20h15</option>
                        <option>20h30</option>
                        <option>20h45</option>
                        <option>21h00</option>
                        <option>21h15</option>
                        <option>21h30</option>
                        <option>21h45</option>
                        <option>22h00</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-reserver">Envoyer</button>
            </form>
        </div>


    </div>
</div>
