
<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Cartes & Menus</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Notre Carte</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">Boissons</button>
                        <button data-filter=".lunch">Entrées</button>
                        <button data-filter=".dinner">Plats</button>
                        <button data-filter=".dessert">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div *ngFor="let item of (cartes$|async)" class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="{{ item.image }}" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>{{ item.titre }}</h3>
                        <p>{{ item.description }}</p>
                        <h5> {{ item.prix }}€</h5>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button data-filter=".drinks">Boissons</button>
                        <button class="active" data-filter="*">Entrées</button>
                        <button data-filter=".dinner">Plats</button>
                        <button data-filter=".dessert">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div *ngFor="let item of (cartes$|async)" class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="{{ item.image }}" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>{{ item.titre }}</h3>
                        <p>{{ item.description }}</p>
                        <h5> {{ item.prix }}€</h5>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button data-filter=".drinks">Boissons</button>
                        <button data-filter=".lunch">Entrées</button>
                        <button class="active" data-filter="*">Plats</button>
                        <button data-filter=".dessert">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div *ngFor="let item of (cartes$|async)" class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="{{ item.image }}" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>{{ item.titre }}</h3>
                        <p>{{ item.description }}</p>
                        <h5> {{ item.prix }}€</h5>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button data-filter=".drinks">Boissons</button>
                        <button data-filter=".lunch">Entrées</button>
                        <button data-filter=".dinner">Plats</button>
                        <button class="active" data-filter="*">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div *ngFor="let item of (cartes$|async)" class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="{{ item.image }}" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>{{ item.titre }}</h3>
                        <p>{{ item.description }}</p>
                        <h5> {{ item.prix }}€</h5>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Nos Menus</h2>
                </div>
            </div>
        </div>

        <div class="card bg-formule">
            <div class="card-body px-4 pb-4 text-center">
                <div class="row text-left">
                    <div class="col-md-6 my-4">
                        <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="nos_menus">
                                <div class="titre_menu">
                                    <span class="menu-formule">Menu Quai antique</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="nos_menus">
                                <div class="titre_menu">
                                    <span class="menu-formule">Menu spécial </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4" *ngFor="let item of (menus$|async)">
                        <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="nos_menus">
                                <div class="titre_menu">
                                    <span> {{ item.formule }}</span>
                                    <p class="mt-1 mb-0"> {{ item.titre }} </p>
                                </div>
                                <h6 class="float-right text-primary"> {{ item.prix }}</h6>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <a class="btn btn-lg btn-circle btn-outline-new-white btn-menu" routerLink="/reservation">Reservation</a>
            </div>
        </div>
    </div>
</div>
