
<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Cartes & Menus</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Notre Carte</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">Boissons</button>
                        <button data-filter=".lunch">Entrées</button>
                        <button data-filter=".dinner">Plats</button>
                        <button data-filter=".dessert">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/boisson1.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Boisson 1</h3>
                        <p>Cosmopolitan</p>
                        <h5> 8€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/boisson2.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Boisson 2</h3>
                        <p>Mojito</p>
                        <h5> 8€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/boisson3.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Boisson 3</h3>
                        <p>Téquila</p>
                        <h5> 8€</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button data-filter=".drinks">Boissons</button>
                        <button class="active" data-filter="*">Entrées</button>
                        <button data-filter=".dinner">Plats</button>
                        <button data-filter=".dessert">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/entree1.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Entrée 1</h3>
                        <p>Tartelettes ricotta basilic asperges, citron vert</p>
                        <h5> 11€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/entree2.jpeg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Entrée 2 </h3>
                        <p>Salade de homard , Haricot et amandes fraiches</p>
                        <h5> 12€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/entree3.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Entrée 3</h3>
                        <p>Salade de Figues au Balsamique Parmesan et Jambon de Parme</p>
                        <h5> 16€</h5>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button data-filter=".drinks">Boissons</button>
                        <button data-filter=".lunch">Entrées</button>
                        <button class="active" data-filter="*">Plats</button>
                        <button data-filter=".dessert">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/plat1.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Plat 1</h3>
                        <p>Magret de Canard à l'orange</p>
                        <h5> 21€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/plat2.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Plat 2</h3>
                        <p>Saumon mariné aux epices</p>
                        <h5> 17€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/plat3.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Plat 3</h3>
                        <p>Coq au vin accompagné de légumes</p>
                        <h5> 19€</h5>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button data-filter=".drinks">Boissons</button>
                        <button data-filter=".lunch">Entrées</button>
                        <button data-filter=".dinner">Plats</button>
                        <button class="active" data-filter="*">desserts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row special-list">

            <div class="col-lg-4 col-md-6 special-grid dessert">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/dessert1.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Dessert 1</h3>
                        <p>Bourbon caramelisé </p>
                        <h5> 9€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dessert">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/dessert2.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Dessert 2</h3>
                        <p>Tartellette a la fraise</p>
                        <h5> 7€</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dessert">
                <div class="gallery-single fix">
                    <img src="assets/images/menu/dessert3.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Dessert 3</h3>
                        <p>Gauffre framboise</p>
                        <h5> 8€</h5>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Nos Menus</h2>
                </div>
            </div>
        </div>

        <div class="card bg-formule">
            <div class="card-body px-4 pb-4 text-center">
                <div class="row text-left">
                    <div class="col-md-6 my-4">
                        <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="nos_menus">
                                <div class="titre_menu">
                                    <span class="menu-formule">Menu Quai antique</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4">
                        <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="nos_menus">
                                <div class="titre_menu">
                                    <span class="menu-formule">Menu spécial </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 my-4" *ngFor="let item of (menus$|async)">
                        <a href="#" class="pb-3 mx-3 d-block text-dark text-decoration-none border border-left-0 border-top-0 border-right-0">
                            <div class="nos_menus">
                                <div class="titre_menu">
                                    <span> {{ item.formule }}</span>
                                    <p class="mt-1 mb-0"> {{ item.titre }} </p>
                                </div>
                                <h6 class="float-right text-primary"> {{ item.prix }}</h6>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <a class="btn btn-lg btn-circle btn-outline-new-white btn-menu" routerLink="/reservation">Reservation</a>
            </div>
        </div>
    </div>
</div>
