<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Espace Administration</h1>
            </div>
        </div>
    </div>
</div>

<div class="menu-box">
    <div class="container">

        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix" >
                    <img  routerLink="/gestion-categorie" src="assets/images/admin/gestionCategorie.jpg" class="img-fluid" alt="Image">
                    
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img  routerLink="/gestion-horaire-jour" src="assets/images/admin/gestionHoraire.jpg" class="img-fluid" alt="Image">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img  routerLink="/gestion-menu" src="assets/images/admin/gestionMenu.jpg" class="img-fluid" alt="Image">
                </div>
            </div>
        </div>

        <div class="row special-list">

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img  routerLink="/gestion-carte" src="assets/images/admin/gestionCarte.jpg" class="img-fluid" alt="Image">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img  routerLink="/gestion-image" src="assets/images/admin/gestionImage.jpg" class="img-fluid" alt="Image">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img  routerLink="/gestion-compte-utilisateur" src="assets/images/admin/gestionUtilisateur.jpg" class="img-fluid" alt="Image">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/admin/gestionReservation.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Reservations</h5>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
