<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Espace Administration</h1>
            </div>
        </div>
    </div>
</div>

<div class="menu-box">
    <div class="container">

        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Catégories</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Horaires & Jours</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Menus</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row special-list">

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion de la</h3>
                        <h5>Cartes</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Images</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Comptes utilisateurs</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="assets/images/admin-menu.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>Gestion des</h3>
                        <h5>Reservations</h5>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
