<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gestion des catégories</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
    <div class="container">

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Boisson</td>
                    <td>JOHN DOE</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Entrée</td>
                    <td>JOHN DOE</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Déssert</td>
                    <td>JOHN DOE</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <form [formGroup]="formGestionCategorie" (ngSubmit)="createOrUpdateCategorie()">
                <div class="form-group">
                    <input formControlName="nom" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Libellé de la catégorie">
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-reserver">Envoyer</button>
            </form>
        </div>


    </div>
</div>
<!-- End Menu -->