<!-- Start banniere -->

<div class="all-page-title banniere_accueil">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="m-b-20"><strong>Bienvenue au <br> Quai Antique</strong></h1>
                <p class="m-b-40 text-accueil-welcome">Vivez une expérience culinaire unique  <br>
                avec des plats aux saveurs regionale</p>
                <p><a class="btn btn-lg btn-circle btn-outline-new-white" routerLink="/reservation">Reservation</a></p>
            </div>
        </div>
    </div>
</div>

<!-- End banniere -->

<!-- Start A propos -->
<div class="about-section-box">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="assets/images/equipe/about1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Bienvenue au <span>Quai Antique</span></h1>
                    <h4>Notre Histoire</h4>
                    <p>
                        Le Chef Arnaud Michant aime passionnément les produits - et producteurs - de la Savoie.
                        C’est pourquoi il a décidé d’ouvrir son troisième restaurant dans ce département
                    </p>
                    <p>
                        Le Quai Antique sera installé à Chambéry et proposera au déjeuner comme au dîner une
                        expérience gastronomique, à travers une cuisine sans artifice.
                        Plus encore que ses deux autres restaurants, Arnaud Michant le voit comme une promesse
                        d’un voyage dans son univers culinaire.
                    </p>
                    <a class="btn btn-lg btn-circle btn-outline-new-white" routerLink="/reservation">Reservation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End A propos -->

<!-- Start Citation -->
<div class="citation-box citation-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left">
                <p class=" ">
                    " La gastronomie est l'art d'utiliser la nourriture pour créer du bonheur. "
                </p>
                <span>Chef Arnaud Michant</span>
            </div>
        </div>
    </div>
</div>
<!-- End Citation -->

<!-- Start Menu -->
<div id="galerie"></div>
<br><br>
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Notre Gallerie</h2>
                </div>
            </div>
        </div>
         
        <div class="row special-list">
            <div *ngFor="let item of (images$|async)" class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="{{ item.path }}" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h3>{{ item.titre }}</h3>
                        
                    </div>
                </div>
            </div>

        </div>
        
        <button routerLink="/reservation" class="btn btn-primary btn-block btn-reserver">Reserver</button>
    </div>
</div>
<!-- End Menu -->

<!-- Start Team -->
<div class="our-team-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Notre Equipe</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="assets/images/equipe/chefcuis1.jpg" alt="">
                    <div class="team-content">
                        <h3 class="title">Arnaud Michant</h3>
                        <span class="post">Chef cuisinier</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="assets/images/equipe/barman1.jpg" alt="">
                    <div class="team-content">
                        <h3 class="title">Joel Dupont</h3>
                        <span class="post">Barman</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="assets/images/equipe/metier-patissier.jpg" alt="">
                    <div class="team-content">
                        <h3 class="title">Steve Thomas</h3>
                        <span class="post">Chef patissier</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End team -->

<!-- Start Customer  -->
<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Vos Avis</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mt-4">
                        <div class="carousel-item text-center active">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="assets/images/client/profile1.png" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Gueye Oceane</strong></h5>
                            <h6 class="text-dark m-0">Secrétaire medicale</h6>
                            <p class="m-0 pt-3">Cuisine de qualité avec bons produits frais. On s'est régalé!!
                                Les prix des menus sont corrects. Le patron et le personnel sont très aimables et très sympathiques.
                                Le cadre est magnifique et l'ambiance au rendez-vous!!! Nous y retournerons !</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="assets/images/client/profile 2.jpg" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Dos reis Anais</strong></h5>
                            <h6 class="text-dark m-0">Aide soignante</h6>
                            <p class="m-0 pt-3">Nous avons passé une très belle soirée. Cadre agreable, personnel compétent, repas magnifique.
                                On voit que c'est fait maison, car savoureux et gouteux avec des prix raisonnables.
                                Pour une première venue, nous avons été agréablement surpris.</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="assets/images/client/profile3.jpg" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Maupas Marion</strong></h5>
                            <h6 class="text-dark m-0">Assistante d'éduction</h6>
                            <p class="m-0 pt-3">Tout était parfait, du service à l'assiette !
                                En famille, nous avons tous été conquis par nos plats, vraiment très bon !
                                C'est un super restaurant et les serveurs très professionnels !
                                Je recommande ! Cadre agréable a des prix abordables Bravo à toute lequipe</p>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Précedent</span>
                    </a>
                    <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Suivant</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Customer  -->