<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Se connecter</h1>
            </div>
        </div>
    </div>
</div>

<div class="contact-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="formConnexionAdmin" (ngSubmit)="connexion()" id="contactForm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input formControlName="email" type="text" class="form-control" id="name" placeholder="Votre email" required data-error="Veuillez saisir votre email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input formControlName="password" type="password" placeholder="Votre mot de passe" id="email" class="form-control" required data-error="Veuillez saisir votre mot de passe">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="submit-button text-center">
                                <button routerLink="/admin" class="btn btn-common" id="submit" type="submit">Connexion</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <h5><a class="pull-right" routerLink="/enregistrer">Créer un compte</a></h5>
            </div>
        </div>
    </div>
</div>
