<div class="all-page-title banniere_background">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Gestion des comptes utilisateurs</h1>
            </div>
        </div>
    </div>
</div>

<div class="menu-box">
    <div class="container">

        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mot de passe</th>
                    <th scope="col">role</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>
                        <i class="fa fa-edit fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
                    </td>
                </tr>
                
                </tbody>
            </table>
        </div>

        <div class="col-md-12">
            <form [formGroup]="formGestionCompteUtilisateur" (ngSubmit)="createOrUpdateUtilisateur()">
                <div class="form-group">
                    <input formControlName="email" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input formControlName="password" type="tel" class="form-control" name="phone" placeholder="Mot de passe">
                </div>
                <div class="form-group">
                    <select formControlName="role" class="form-control">
                        <option>Selectionnez le role</option>
                        <option>Administrateur</option>
                        <option>Employe</option>
                    </select>
                </div>
                <div class="form-group">
                    <select formControlName="estActif" class="form-control">
                        <option>Selectionnez le statut</option>
                        <option>Activer</option>
                        <option>Desactiver</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-reserver">Envoyer</button>
            </form>
        </div>


    </div>
</div>
